.navbar-brand {
    font-size: 1.8em;
}
main {
    height: 100vh;
}
#UVindex {
    
}
.sun {
    position: relative;
    background: #fff023;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    left: -340px;
}

.cloud {
    position: relative;
    width: 350px;
    height: 120px;
    background: #ECEFF1;
    border-radius: 100px;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    z-index: 2;
}

.cloud.float {
    animation-name: float;
    animation-duration: 300ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.lightning {
    position: relative;
    width: 100px;
    height: 200px;
}

@keyframes float {
    0% {
        top: 100px;
    }
    100% {
        top: 97px;
    }
}

.cloud::after, .cloud::before {
    content: '';
    position: absolute;
    display: inline-block;
    background: inherit;
    border-radius: inherit;
}

.cloud::after {
    width: 100px;
    height: 100px;
    top: -42px;
    left: 50px;
}

.cloud::before{
    width:180px;
    height:180px;
    top: -70px;
    left:130px;
}